*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.survey-rate__table {
  margin-left: 10px;
  margin-right: 10px;
}

.survey-rate__table .table__header th {
  padding-left: 30px;
  font-size: 14px;
  font-weight: normal;
}

.survey-rate__table .table__header th:first-child {
  width: 50%;
}

.survey-rate__table .table__rate-row {
  border-top: 0.5px solid #c4c4c4;
  border-bottom: 0.5px solid #c4c4c4;
  font-size: 14px;
  color: #5a5959;
}

.survey-rate__table .table__rate-row .rate-question {
  padding: 10px 10px 10px 0;
  border-right: 0.5px solid #c4c4c4;
}

.survey-rate__table .table__rate-row .rate-box__title {
  display: none;
  text-align: center;
}

.survey-rate__table .table__rate-row .rate-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 10px;
}

.survey-rate__table .table__rate-row .rate-box div label {
  position: relative;
}

.survey-rate__table .table__rate-row .rate-box div label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.survey-rate__table .table__rate-row .rate-box div label span {
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  cursor: pointer;
}

.survey-rate__table .table__rate-row .rate-very div label input:checked ~ span {
  background-color: #7ce18e;
}

.survey-rate__table .table__rate-row .rate-very div label span {
  border: 2px solid #7ce18e;
}

.survey-rate__table .table__rate-row .rate-somewhat div label input:checked ~ span {
  background-color: #f9e57d;
}

.survey-rate__table .table__rate-row .rate-somewhat div label span {
  border: 2px solid #f9e57d;
}

.survey-rate__table .table__rate-row .rate-not div label input:checked ~ span {
  background-color: #ff7b6b;
}

.survey-rate__table .table__rate-row .rate-not div label span {
  border: 2px solid #ff7b6b;
}