textarea {
  resize: none;
}

textarea.auto {
  overflow-y: hidden;
}

textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 240px;
  padding: 16px 20px;
  font-family: 'Inter';
  font-size: 14px;
  color: #404660;
  line-height: 22px;
  background: white;
  border: none;
  border-radius: 15px;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  -webkit-box-shadow: inset 0 0 0 1px var(--border-color, #e1e6f9), 0 0 0 3px var(--focus-color, transparent);
  box-shadow: inset 0 0 0 1px var(--border-color, #e1e6f9), 0 0 0 3px var(--focus-color, transparent);
  outline: none;
}

textarea:focus {
  --focus-color: #eceffc;
}

textarea:focus,
textarea:hover {
  --border-color: #bbc1e1;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f6f8ff;
}

pre {
  margin: 60px 0 0 0;
  padding: 20px 24px;
  background: #171827;
  border-radius: 15px;
}

pre code {
  font-family: 'Fira Mono';
  font-size: 12px;
  color: #bbc1e1;
  line-height: 1.4;
}

pre code .token.function {
  color: #5c86ff;
}

pre code .token.string {
  color: #f0b849;
}

pre code .token.parameter {
  color: #cb7dd0;
}

pre code .token.punctuation {
  color: #8a91b4;
}